
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
html,
body {
  padding: 0;
  margin: 0px;
  font-family: Ubuntu, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

a:hover {
  color:#f26b50;
}

p
{
  color: #6f6f6f;
}

h1,h2,h3,h4 {
  font-family: Montserrat, sans-serif;
}
*,
*::before,
*::after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	display: block;
	height: auto;
	width: auto;
}


/* Buttons CSS */

.btn-5 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0px;
  margin-top: 20px;
  font-weight: 800;
  font-family: montserrat;
}

.btn-5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background : #fff;
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.3;

}

.btn-5:hover:before {
  width: 100%;
}


/* Headings Underline animation */
.fancyheadings {
  color: #f84525;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;  
  transition: width 0.5s;
}

.fancyheadings::after
{
  content:"";
  height:3px;
  background-color: #f84525;
  bottom: -8px;
  width: 100px;
  position: absolute;
  border-radius: 10px;
  transition: width 0.5s;
}

.fancyheadings:hover:after {
  width: 200px;
}

.default-container {
  max-width: var(--desktop-content-width);
  width:100%
}

:root
{
  --mobile-width: 768px;
  --tablet-width: 1024px;
  --laptop-width: 1200px;
  --desktop-width: 1680px;
  --desktop-content-width: 1200px;
--laptop-content-width: 1080px;
--small-laptop-content-width: 960px;
}



@keyframes text {
  0%{
      opacity:0;
  }
  30%{
      opacity:0.3;
     
  }
  85%{
      opacity:0.8;
  }

  100%{
      opacity:1;
      transform:translateY(10px);
  }
  
}

